body{
text-align:center;
font-family:Arial;
}

#board{
width:186px;
margin:auto;
}

.cell{
width:60px;
height:60px;
border:1px solid black;
display:inline-block;
vertical-align:top;
font-size:30px;
line-height:60px;
cursor:pointer;
}

#status{
font-weight:bold;
margin:10px;
}

.winner{
background-color:yellow;
}